.my-topbar{
    background-color: #B9B9B9;
    height: 44px;
    text-align: center;
    line-height: 44px;
}
.my-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 44px;
    line-height: 44px;
    background-color: #F1B2B2;
}